html {
  background: url("images/background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

.cloud1 {
    width: 175px;
    height: 107px;
    position: relative; bottom: 360px;
    -webkit-animation-name: cloudOne;
    -webkit-animation-duration: 120s;
    -webkit-animation-iteration-count: infinite;
    animation-name: cloudOne;
    animation-duration: 120s;
    animation-iteration-count: infinite;
    z-index: -1;
    /* position: absolute; */
}

@keyframes cloudOne {
    0%   {background:url("images/cloudSingle1.png"); left:-183px;animation-timing-function: ease-in-out;}
    /*25%  {background:url("images/cloudSingle1.png"); left:1175px;animation-timing-function: ease-out;}*/
    50%  {background:url("images/cloudSingle1.png"); left:1357px;animation-timing-function: ease-in-out;}
/*    75%  {background:url("images/cloudSingle1.png"); left:0px;animation-timing-function: ease;}*/
    100% {background:url("images/cloudSingle1.png"); left:-183px;animation-timing-function: ease-in-out;}
}

.cloud2 {
    width: 175px;
    height: 107px;
    position: absolute; bottom: 390px;
    -webkit-animation-name: cloudTwo;
    -webkit-animation-duration: 120s;
    -webkit-animation-iteration-count: infinite;
    animation-name: cloudTwo;
    animation-duration: 120s;
    animation-iteration-count: infinite;
    animation-delay: 10s;
    z-index: -1;
}

@keyframes cloudTwo {
    0%   {background:url("images/cloudSingle1.png"); left:-183px;animation-timing-function: ease-in-out;}
    /*25%  {background:url("images/cloudSingle1.png"); left:1175px;animation-timing-function: ease-out;}*/
    50%  {background:url("images/cloudSingle1.png"); left:1357px;animation-timing-function: ease-in-out;}
/*    75%  {background:url("images/cloudSingle1.png"); left:0px;animation-timing-function: ease;}*/
    100% {background:url("images/cloudSingle1.png"); left:-183px;animation-timing-function: ease-in-out;}
}

.cloud3 {
    width: 175px;
    height: 107px;
    position: relative; bottom: 467px;
    -webkit-animation-name: cloudThree;
    -webkit-animation-duration: 120s;
    -webkit-animation-iteration-count: infinite;
    animation-name: cloudThree;
    animation-duration: 120s;
    animation-iteration-count: infinite;
    animation-delay: 20s;
    z-index: -1;
}

@keyframes cloudThree {
    0%   {background:url("images/cloudSingle1.png"); left:-183px;animation-timing-function: ease-in-out;}
    /*25%  {background:url("images/cloudSingle1.png"); left:1175px;animation-timing-function: ease-out;}*/
    50%  {background:url("images/cloudSingle1.png"); left:1357px;animation-timing-function: ease-in-out;}
/*    75%  {background:url("images/cloudSingle1.png"); left:0px;animation-timing-function: ease;}*/
    100% {background:url("images/cloudSingle1.png"); left:-183px;animation-timing-function: ease-in-out;}
}

.cloud4 {
    width: 175px;
    height: 107px;
    position: absolute; bottom: 390px;
    -webkit-animation-name: cloudFour;
    -webkit-animation-duration: 120s;
    -webkit-animation-iteration-count: infinite;
    animation-name: cloudFour;
    animation-duration: 120s;
    animation-iteration-count: infinite;
    animation-delay: 30s;
    z-index: -1;
}

@keyframes cloudFour {
    0%   {background:url("images/cloudSingle1.png"); left:-183px;animation-timing-function: ease-in-out;}
    /*25%  {background:url("images/cloudSingle1.png"); left:1175px;animation-timing-function: ease-out;}*/
    50%  {background:url("images/cloudSingle1.png"); left:1357px;animation-timing-function: ease-in-out;}
/*    75%  {background:url("images/cloudSingle1.png"); left:0px;animation-timing-function: ease;}*/
    100% {background:url("images/cloudSingle1.png"); left:-183px;animation-timing-function: ease-in-out;}
}

.cloud5 {
    width: 175px;
    height: 107px;
    position: absolute; bottom: 555px;
    -webkit-animation-name: cloudFive;
    -webkit-animation-duration: 120s;
    -webkit-animation-iteration-count: infinite;
    animation-name: cloudFive;
    animation-duration: 120s;
    animation-iteration-count: infinite;
    animation-delay: 40s;
    z-index: -1;
}

@keyframes cloudFive {
    0%   {background:url("images/cloudSingle1.png"); left:-183px;animation-timing-function: ease-in-out;}
    /*25%  {background:url("images/cloudSingle1.png"); left:1175px;animation-timing-function: ease-out;}*/
    50%  {background:url("images/cloudSingle1.png"); left:1357px;animation-timing-function: ease-in-out;}
/*    75%  {background:url("images/cloudSingle1.png"); left:0px;animation-timing-function: ease;}*/
    100% {background:url("images/cloudSingle1.png"); left:-183px;animation-timing-function: ease-in-out;}
}

.cloud6 {
    width: 175px;
    height: 107px;
    position: absolute; bottom: 390px;
    -webkit-animation-name: cloudSix;
    -webkit-animation-duration: 120s;
    -webkit-animation-iteration-count: infinite;
    animation-name: cloudSix;
    animation-duration: 120s;
    animation-iteration-count: infinite;
    animation-delay: 50s;
    z-index: -1;
}

@keyframes cloudSix {
    0%   {background:url("images/cloudSingle1.png"); left:-183px;animation-timing-function: ease-in-out;}
    /*25%  {background:url("images/cloudSingle1.png"); left:1175px;animation-timing-function: ease-out;}*/
    50%  {background:url("images/cloudSingle1.png"); left:1357px;animation-timing-function: ease-in-out;}
/*    75%  {background:url("images/cloudSingle1.png"); left:0px;animation-timing-function: ease;}*/
    100% {background:url("images/cloudSingle1.png"); left:-183px;animation-timing-function: ease-in-out;}
}

.cloud7 {
    width: 175px;
    height: 107px;
    position: absolute; bottom: 555px;
    -webkit-animation-name: cloudSeven;
    -webkit-animation-duration: 120s;
    -webkit-animation-iteration-count: infinite;
    animation-name: cloudSeven;
    animation-duration: 120s;
    animation-iteration-count: infinite;
    animation-delay: 60s;
    z-index: -1;
  }

@keyframes cloudSeven {
    0%   {background:url("images/cloudSingle1.png"); left:-183px;animation-timing-function: ease-in-out;}
    /*25%  {background:url("images/cloudSingle1.png"); left:1175px;animation-timing-function: ease-out;}*/
    50%  {background:url("images/cloudSingle1.png"); left:1357px;animation-timing-function: ease-in-out;}
/*    75%  {background:url("images/cloudSingle1.png"); left:0px;animation-timing-function: ease;}*/
    100% {background:url("images/cloudSingle1.png"); left:-183px;animation-timing-function: ease-in-out;}
}

.cloud8 {
    width: 175px;
    height: 107px;
    position: absolute; bottom: 390px;
    -webkit-animation-name: cloudEight;
    -webkit-animation-duration: 120s;
    -webkit-animation-iteration-count: infinite;
    animation-name: cloudEight;
    animation-duration: 120s;
    animation-iteration-count: infinite;
    animation-delay: 70s;
    z-index: -1;
  }

@keyframes cloudEight {
    0%   {background:url("images/cloudSingle1.png"); left:-183px;animation-timing-function: ease-in-out;}
    /*25%  {background:url("images/cloudSingle1.png"); left:1175px;animation-timing-function: ease-out;}*/
    50%  {background:url("images/cloudSingle1.png"); left:1357px;animation-timing-function: ease-in-out;}
/*    75%  {background:url("images/cloudSingle1.png"); left:0px;animation-timing-function: ease;}*/
    100% {background:url("images/cloudSingle1.png"); left:-183px;animation-timing-function: ease-in-out;}
}

.cloud9 {
    width: 175px;
    height: 107px;
    position: absolute; bottom: 555px;
    -webkit-animation-name: cloudNine;
    -webkit-animation-duration: 120s;
    -webkit-animation-iteration-count: infinite;
    animation-name: cloudNine;
    animation-duration: 120s;
    animation-iteration-count: infinite;
    animation-delay: 80s;
    z-index: -1;
  }

@keyframes cloudNine {
    0%   {background:url("images/cloudSingle1.png"); left:-183px;animation-timing-function: ease-in-out;}
    /*25%  {background:url("images/cloudSingle1.png"); left:1175px;animation-timing-function: ease-out;}*/
    50%  {background:url("images/cloudSingle1.png"); left:1357px;animation-timing-function: ease-in-out;}
/*    75%  {background:url("images/cloudSingle1.png"); left:0px;animation-timing-function: ease;}*/
    100% {background:url("images/cloudSingle1.png"); left:-183px;animation-timing-function: ease-in-out;}
}

.cloud10 {
    width: 175px;
    height: 107px;
    position: absolute; bottom: 390px;
    -webkit-animation-name: cloudTen;
    -webkit-animation-duration: 120s;
    -webkit-animation-iteration-count: infinite;
    animation-name: cloudTen;
    animation-duration: 120s;
    animation-iteration-count: infinite;
    animation-delay: 90s;
    z-index: -1;
  }

@keyframes cloudTen {
    0%   {background:url("images/cloudSingle1.png"); left:-183px;animation-timing-function: ease-in-out;}
    /*25%  {background:url("images/cloudSingle1.png"); left:1175px;animation-timing-function: ease-out;}*/
    50%  {background:url("images/cloudSingle1.png"); left:1357px;animation-timing-function: ease-in-out;}
/*    75%  {background:url("images/cloudSingle1.png"); left:0px;animation-timing-function: ease;}*/
    100% {background:url("images/cloudSingle1.png"); left:-183px;animation-timing-function: ease-in-out;}
}
#mainContent{
  text-align: center;
}

#question{
  margin-top:-120px;
  font-size: 160px;
  color: purple;
  margin-bottom: -50px;
  font-family: "Comic Sans MS", calibri, sans-serif;
  text-transform: lowercase;
}

#answer{
  height: 50%;
  display:block;
}

#shapes{
  float:left;
  margin-left: 4.25%;
  overflow: hidden;
}

#shapes:hover{
  transform: scale(1.15);
}

.triangle{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 145px 251px 145px;
  border-color: transparent transparent purple transparent;
  float:left;
}

.square{
  height: 250px;
  width: 250px;
  float:left;
  background-color: red;
}

.circle{
  height: 250px;
  width: 250px;
  border-radius: 150px;
  background-color: green;
  float:left;
}

.diamond {
	width: 0;
	height: 0;
	border: 125px solid transparent;
	border-bottom-color: blue;
	position: relative;
	top: -125px;
}

.diamond:after {
	content: '';
	position: absolute;
	left: -125px;
	top: 125px;
	width: 0;
	height: 0;
	border: 125px solid transparent;
	border-top-color: blue;
}

@media only screen and (min-width:760px) and (max-width:1024px) and (orientation:portrait) {

  html {
    background: url("images/ipadnocloud.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  body {
    -webkit-transform: rotate(90deg);
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
  }

  #answer{
    height:
  }

  #question{
    /*margin-bottom:-5%;*/
    font-size:150px;
    height:30%;
    margin-top:-100px;
    margin-left:20%;
  }

  #shapes{
    width: 20%;
    margin-left: 25%;
    margin-bottom:10%;
  }

  .triangle{
    border-width: 0 108.75px 187.5px 108.75px;
    margin-right:1%;
  }

  .square{
    height: 187.5px;
    width: 187.5px;
  }

  .circle{
    height: 187.5px;
    width: 187.5px;
    border-radius: 150px;
  }

  .diamond {
  	width: 0;
  	height: 0;
  	border: 94px solid transparent;
  	border-bottom-color: blue;
  	position: relative;
  	top: -94px;
  }

  .diamond:after {
  	content: '';
  	position: absolute;
  	left: -94px;
  	top: 94px;
  	width: 0;
  	height: 0;
  	border: 94px solid transparent;
  	border-top-color: blue;
  }
}

@media only screen and (min-width:1024px) and (max-width:1366px) and (orientation:portrait) {

  html {
    background: url("images/ipadnocloud.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  body {
    -webkit-transform: rotate(90deg);
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
  }

  #answer{
    height:
  }

  #question{
    /*margin-bottom:-5%;*/
    font-size:200px;
    height:30%;
    margin-top:-100px;
    margin-left:20%;
  }

  #shapes{
    width: 20%;
    margin-left: 25%;
    margin-bottom:10%;
  }

  .triangle{
    border-width: 0 135.94px 234.38px 135.94px;
    margin-right:1%;
  }

  .square{
    height: 234.38px;
    width: 234.38px;
  }

  .circle{
    height: 234.38px;
    width: 234.38px;
    border-radius: 150px;
  }

  .diamond {
  	width: 0;
  	height: 0;
  	border: 118px solid transparent;
  	border-bottom-color: blue;
  	position: relative;
  	top: -118px;
  }

  .diamond:after {
  	content: '';
  	position: absolute;
  	left: -118px;
  	top: 118px;
  	width: 0;
  	height: 0;
  	border: 118px solid transparent;
  	border-top-color: blue;
  }
}
