#mainContent{
  text-align: center;
}

body{
  background-image: url("images/background.png");
}

#question{
  height:30%;
  margin-top:-50px;
  font-size: 130px;
  color: red;
}

#answer{
  height: 50%;
  display:block;
}

#shapes{
  float:left;
  margin-left: 3.5%;
}

.triangle{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 145px 251px 145px;
  border-color: transparent transparent purple transparent;
  float:left;
}

.square{
  height: 250px;
  width: 250px;
  float:left;
  background-color: red;
}

.circle{
  height: 250px;
  width: 250px;
  border-radius: 150px;
  background-color: green;
  float:left;
}

.diamond {
	width: 0;
	height: 0;
	border: 125px solid transparent;
	border-bottom-color: blue;
	position: relative;
	top: -125px;
}

.diamond:after {
	content: '';
	position: absolute;
	left: -125px;
	top: 125px;
	width: 0;
	height: 0;
	border: 125px solid transparent;
	border-top-color: blue;
}

@media only screen and (min-width:760px) and (max-width:1024px) and (orientation:portrait) {

  body {
    -webkit-transform: rotate(90deg);
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
  }

  #question{
    margin-bottom:-5%;
  }

  #shapes{
    width: 20%;
    margin-left: 20%;
    margin-bottom:10%;
  }

  .triangle{
    border-width: 0 108.75px 187.5px 108.75px;
    margin-right:1%;
  }

  .square{
    height: 187.5px;
    width: 187.5px;
  }

  .circle{
    height: 187.5px;
    width: 187.5px;
    border-radius: 150px;
  }

  .diamond {
  	width: 0;
  	height: 0;
  	border: 93.75px solid transparent;
  	border-bottom-color: blue;
  	position: relative;
  	top: -93.74px;
  }

  .diamond:after {
  	content: '';
  	position: absolute;
  	left: -93.75px;
  	top: 93px;
  	width: 0;
  	height: 0;
  	border: 93.75px solid transparent;
  	border-top-color: blue;
  }
}
